<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #673ab7;">
  <a class="navbar-brand" href="/patient">
    <img src="../assets/images/hospital.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Health Management
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/patient">Patients </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/nurse">Nurses</a>
      </li>
    </ul>
  </div>
  <form class="form-inline">
    <div style="color: #fff; text-align: right;padding-right: 10px">
      <label>Welcome, {{cookieService.get('login')}}.</label>
    </div>
    <button type="submit" (click)="appService.logout()" mat-raised-button>
      Log out
      <i class="fa fa-sign-out"></i>
    </button>
  </form>
</nav>
<br/>
<div *ngIf="boAlertMessage" class="alert alert-success alert-dismissible fade show" role="alert">
  {{alertMessage}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dismissAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-card *ngIf="crudOperation.value === 'LISTING'">
  <div class="container">
    <mat-card-header>
      <mat-card-title>
        <h3>Patients</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="fullwidth">
              <input matInput placeholder="Search by name" id="searchName"
                     [(ngModel)]="searchName" name="pesqNome" maxlength="50"
                     (keyup)="findPatientByName(searchName)"/>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6" *ngFor="let patient of patients">
          <mat-card class="example-card" style="margin-bottom: 20px">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image">
                <img src="{{patient.gender === 'MALE' ? '../assets/images/man.png' : '../assets/images/woman.png'}}"
                     width="45"/>
              </div>
              <mat-card-title><strong>{{patient.lastName}}</strong></mat-card-title>
              <mat-card-subtitle>{{patient.firstName}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <label style="display: block">Gender: {{patient.gender}}</label>
              <label style="display: block">Age: {{patient.age}}</label>

              <label style="display: block">Emergency number: {{patient.emergencyNumber | mask: '(000) 000-0000'}}</label>
              <label style="display: block">Doctor: {{patient.doctor.name}}</label>
              <label style="display: block">Room number: {{patient.roomNumber}}</label>
            </mat-card-content>
            <mat-card-actions style="padding-bottom: 10px" class="list-card-buttons">
              <button type="button" mat-raised-button color="default" (click)="view(patient)">
                Details
              </button>
              <button type="button" mat-raised-button color="primary" (click)="edit(patient)">
                Edit
              </button>
              <button type="button" mat-raised-button color="warn" (click)="delete(patient)">
                Delete
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>


      <table class="table table-condensed table-bordered table-striped table-hover" hidden>
        <thead>
        <tr>
          <th class="text-center" width="40%">Name</th>
          <th class="text-center" width="10%">Age</th>
          <th class="text-center" width="20%">Doctor</th>
          <th class="text-center" width="10%">Room Number</th>
          <th class="text-center" width="10%">#</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let patient of patients">
          <td hidden>{{patient.id}}</td>
          <td>{{patient.firstName}}  {{patient.lastName}}</td>
          <td>{{patient.age}}</td>
          <td>{{patient.doctor.name}}</td>
          <td>{{patient.roomNumber}}</td>
          <td class="text-center" style="max-width:14%;width:14%">
            <button mat-icon-button color="default" (click)="view(patient)">
              <mat-icon>
                <span matTooltip="Details"><i class="fa fa-eye"></i></span>
              </mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="edit(patient)">
              <mat-icon>
                <span matTooltip="Edit"><i class="fa fa-edit"></i></span>
              </mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="delete(patient)">
              <mat-icon>
                <span matTooltip="Delete"><i class="fa fa-trash"></i></span>
              </mat-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </mat-card-content>
    <mat-card-footer>
      <div class="btn-footer">
        <button mat-raised-button color="primary" (click)="new()">
          New patient
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </mat-card-footer>
  </div>
</mat-card>

<form class="formWidth" #formPatient="ngForm"
      *ngIf="crudOperation.value === 'ADDING' || crudOperation.value === 'VIEWING' || crudOperation.value === 'UPDATING'">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h3>Patient</h3></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input id="id" type="hidden" [(ngModel)]="patient.id" name="id"/>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field class="fullwidth">
              <input matInput placeholder="First name" id="firstName" [(ngModel)]="patient.firstName"
                     name="firstName"
                     [disabled]="crudOperation.value === 'VIEWING'"
                     required maxlength="50" #firstName="ngModel">
              <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                <mat-error *ngIf="firstName.errors.required"></mat-error>
              </div>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="fullwidth">
              <input matInput placeholder="Last name" id="lastName" [(ngModel)]="patient.lastName" name="lastName"
                     [disabled]="crudOperation.value === 'VIEWING'" required
                     #lastName="ngModel" maxlength="50">

              <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                <mat-error *ngIf="lastName.errors.required"></mat-error>
              </div>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field class="fullwidth">
              <input matInput placeholder="Age" id="age" [(ngModel)]="patient.age" name="age"
                     [disabled]="crudOperation.value === 'VIEWING'" required type="number"
                     #age="ngModel" maxlength="3">

              <div *ngIf="age.invalid && (age.dirty || age.touched)">
                <mat-error *ngIf="age.errors.required"></mat-error>
              </div>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field class="fullwidth">
              <mat-select id="gender" placeholder="Gender" required name="gender"
                          [disabled]="crudOperation.value === 'VIEWING'"
                          [(ngModel)]="patient.gender" #gender="ngModel">
                <mat-option value="FEMALE">FEMALE</mat-option>
                <mat-option value="MALE">MALE</mat-option>
              </mat-select>
              <div *ngIf="gender.invalid && (gender.dirty || gender.touched)">
                <mat-error *ngIf="gender.errors.required"></mat-error>
              </div>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="fullwidth">
              <textarea matInput placeholder="Address" id="address" [(ngModel)]="patient.address" name="address"
                        maxlength="200" [disabled]="crudOperation.value === 'VIEWING'" #address="ngModel"
                        required></textarea>
              <div *ngIf="address.invalid && (address.dirty || address.touched)">
                <mat-error *ngIf="address.errors.required"></mat-error>
              </div>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <mat-form-field class="fullwidth">
              <input matInput placeholder="Emergency number" mask="(000) 000-0000" id="emergencyNumber" [dropSpecialCharacters]="true"
                     [(ngModel)]="patient.emergencyNumber"
                     name="emergencyNumber" [disabled]="crudOperation.value === 'VIEWING'"
                     maxlength="12" required #emergencyNumber="ngModel">
              <div *ngIf="emergencyNumber.invalid && (emergencyNumber.dirty || emergencyNumber.touched)">
                <mat-error *ngIf="emergencyNumber.errors.required"></mat-error>
              </div>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field class="fullwidth">
              <input matInput placeholder="Room number" id="roomNumber" [(ngModel)]="patient.roomNumber"
                     name="roomNumber" [disabled]="crudOperation.value === 'VIEWING' "
                     maxlength="10" required #roomNumber="ngModel">
              <div *ngIf="roomNumber.invalid && (roomNumber.dirty || roomNumber.touched)">
                <mat-error *ngIf="roomNumber.errors.required"></mat-error>
              </div>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="fullwidth">
              <input matInput placeholder="Department" id="department"
                     [(ngModel)]="patient.department" type="text"
                     name="department" [disabled]="crudOperation.value === 'VIEWING'"
                     maxlength="200" required #department="ngModel">
              <div *ngIf="department.invalid && (department.dirty || department.touched)">
                <mat-error *ngIf="department.errors.required"></mat-error>
              </div>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field class="fullwidth">
              <mat-select id="doctor" placeholder="Doctor" required name="doctor"
                          [disabled]="crudOperation.value === 'VIEWING'"
                          [(ngModel)]="patient.doctor.id" #doctor="ngModel">
                <mat-option *ngFor="let doc of doctors" [value]="doc.id">
                  {{doc.name}}
                </mat-option>
              </mat-select>
              <div *ngIf="doctor.invalid && (doctor.dirty || doctor.touched)">
                <mat-error *ngIf="doctor.errors.required"></mat-error>
              </div>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <div class="form-group btn-footer">
        <button type="button" mat-raised-button color="primary" (click)="save()"
                [disabled]="!formPatient.form.valid || crudOperation.value === 'VIEWING'">
          Save
        </button>
        <button mat-raised-button (click)="cancel()">
          Cancel
        </button>
      </div>
    </mat-card-footer>
  </mat-card>
</form>
<br/>
<app-records *ngIf="crudOperation.value === 'VIEWING' || crudOperation.value === 'UPDATING'" [patient]="patient">
</app-records>

