/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.btn-footer {
  margin-left: 23px;
  margin-bottom: 20px;
}

.formwidth {
  /*width: 500px;*/
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border: 1px solid lightgrey;
}

.fullwidth {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.list-card-buttons > button {
  min-width: 55px;
  padding: 0 15px;
  line-height: 30px;
}
